<div class="flex flex-col flex-1 h-min-0" data-form-step-target="tripForm">
  <h2 class="mx-8 mt-2 mb-1 text-lg font-bold">基本情報</h2>
  <div class="card-style flex flex-1 flex-col px-4 pt-4 pb-8">

    <div class="pb-2">
      <%= f.label :title, class:"font-bold" %>
      <%= f.text_field :title, data: {"form-step-target": "tripTitle"}, class: "form-style" %>
      <% if f.object.errors[:title].any?%>
        <p class="text-primary-red text-xs pt-0.5">※<%= @trip.errors[:title].join(', ') %></p>
      <% end %>
    </div>

    <div class="pt-4">
      <%= f.label :departure_date, class:"font-bold"%>
      <%= f.date_field :departure_date, value: @trip.departure_date || Date.current, date:{"form-step-target": "tripDate"} class: "form-style #{'!border-red-500 !bg-red-100' if @trip.errors[:departure_date].any?}" %>
      <% if @trip.errors[:departure_date].any?%>
        <p class="text-primary-red text-xs pt-0.5">※<%= @trip.errors[:departure_date].join(', ') %></p>
      <% end %>
    </div>
  </div>
</div>