<div class="card-style flex flex-col px-4 pt-4 pb-8">

  <div class="pb-2">
    <%= f.label :title, class:"font-bold"%>
    <%= f.text_field :title, class: "form-style #{'!border-red-500 !bg-red-100' if @trip.errors[:title].any?}" %>
    <% if f.object.errors[:title].any?%>
      <p class="text-primary-red text-xs pt-0.5">※<%= @trip.errors[:title].join(', ') %></p>
    <% end %>
  </div>

  <div class="pt-4">
    <%= f.label :departure_date, class:"font-bold"%>
    <%= f.date_field :departure_date, class: "form-style #{'!border-red-500 !bg-red-100' if @trip.errors[:departure_date].any?}" %>
    <% if @trip.errors[:departure_date].any?%>
      <p class="text-primary-red text-xs pt-0.5">※<%= @trip.errors[:departure_date].join(', ') %></p>
    <% end %>
  </div>
</div>