<section class="flex items-center relative">
  <button class="absolute flex items-center rounded-md shadow-primary h-6 w-10 py-0.5 px-0.5 ml-4 text-white bg-panel-navy dark:text-neutral-700 dark:bg-white" data-controller="back" data-action="click->back#goBack">
    <%= inline_svg("svg/navigation-arrow.svg", class:"w-full h-full rotate-180")%>
  </button>
  <h1 class="mt-2 my-2 text-xl font-bold w-full text-center">分析</h1>
</section>

<section class="w-full overflow-y-auto">
  <div class="mx-4">

    <div class="mb-4 py-2 rounded-md bg-white px-8 text-sm dark:text-black">
      <h2 class="text-center text-sm font-bold">旅行金額</h2>
      <% @balances.each do |b| %>
      <div class="h-0.5 w-full bg-neutral-200 mt-2"></div>
      <div class="flex my-1 justify-between">
        <p><%= b[:participant].name%></p>
        <p>¥<%= number_with_delimiter(b[:owed_total])%></p>
      </div>
      <% end %>
    </div>

    <div class="relative rounded-md bg-white h-80 mb-4">
      <div class="w-full h-full" data-controller="piechart" data-piechart-balances-value="<%= @balances.to_json %>">
        <canvas id="piechart" data-piechart-target="myChart" class="mx-4">
        </canvas>
      </div>
      <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 font-bold text-xl text-black">¥<%= number_with_delimiter(@trip.expenses.sum(:amount)) %></div>
    </div>

    <div class="mb-4 rounded-md bg-white h-120">
      <div class="w-full h-full" data-controller="barchart" data-barchart-net-balances-value="<%= @net_balances.to_json %>">
        <canvas id="bar-chart" data-barchart-target="myChart" class="mx-4">
        </canvas>
      </div>
    </div>

  </div>
</section>

