<div data-controller="form-step" class="flex flex-col h-full">

<h1 class="mt-2 text-xl font-bold flex justify-center mx-auto">旅行作成</h1>
<%= render 'trips/step_bar' %>
<%= form_with model: @trip, html:{class:"flex flex-col flex-1 min-h-0"} do |f| %>
  <%= render 'trips/form_card', f: f %>
  <%= render 'participants/form_card', f: f %>
  <div class="flex px-4 py-4 ">

    <div data-form-step-target="toggleBtn" class="w-1/2 mx-6 py-2 btn-cancel shadow-primary">
      <%= link_to "キャンセル", trips_path, class:"h-full w-full" %>
    </div>
    <button data-form-step-target="toggleBtn" data-action="click->form-step#changeForm" type="button" class="w-1/2 mx-6 py-2  btn-submit shadow-primary">次へ</button>

    <button data-form-step-target="toggleBtn" data-action="click->form-step#changeForm" type="button" class="hidden w-1/2 mx-6 py-2 btn-cancel shadow-primary">戻る</button>
    <div data-form-step-target="toggleBtn" class="hidden w-1/2 mx-6 py-2  btn-submit shadow-primary" >
      <%= f.submit "保存", class:"h-full w-full", data:{turbo_method: :post}%>
    </div>
    
  </div>
<% end %>
</div>
