<% content_for(:title, "旅行作成") %>

<div data-controller="trip-validate participant-validate" data-trip-validate-mode-value="new" class="flex flex-col h-full">

  <%# stimulus用フラッシュエラーメッセージ ------------------ %>
  <div data-trip-validate-target="flashError" data-participant-validate-target="flashError" class="-translate-y-full transition-transform transform duration-700">
    <p class="z-10 bg-primary-red text-white text-sm border-b-2 border-b-black"></p>
  </div>
  
  <%# ページ案内 ------------------ %>
  <h1 class="mt-2 my-2 text-xl font-bold text-center">旅行作成</h1>

  <%# stepバー ------------------ %>
  <%= render 'trips/step_bar' %>

  <%# フォーム & ボタン ------------------ %>
  <%= form_with model: @trip, html:{class:"flex flex-col flex-1 min-h-0", data:{"participant-validate-target": "form"}} do |f| %>

    <%# フォームカード %>
    <%= render 'trips/form_card', f: f %>
    <%= render 'participants/form_card', f: f %>

    <%# ボタン類 %>
    <section class="flex px-4 py-4 ">
      <%# step1時のボタン %>
      <%= link_to "キャンセル", trips_path, data:{"trip-validate-target": "toggleBtn"}, class:"w-1/2 mx-6 py-2 btn-cancel shadow-primary" %>
      <button data-trip-validate-target="toggleBtn" data-action="click->trip-validate#changeForm" type="button" class="w-1/2 mx-6 py-2  btn-submit shadow-primary">次へ</button>
      <%# step2時のボタン %>
      <button data-trip-validate-target="toggleBtn" data-action="click->trip-validate#changeForm" type="button" class="hidden w-1/2 mx-6 py-2 btn-cancel shadow-primary">戻る</button>
      <button data-trip-validate-target="toggleBtn" data-participant-validate-target="submitBtn" data-action="click->participant-validate#submit" class="hidden w-1/2 mx-6 py-2 btn-submit shadow-primary">保存</button>
    </section>
  <% end %>
</div>
