<% content_for(:title, "旅行作成") %>

<div data-controller="trip-validate participant-validate" data-trip-validate-mode-value="new" class="flex flex-col h-full">

  <%# stimulus用フラッシュエラーメッセージ ------------------ %>
  <%= render 'layouts/flash_message_for_stimulus' %>
  
  <%# ページ案内 ------------------ %>
  <h1 class="mt-2 my-2 text-xl font-bold text-center">旅行作成</h1>

  <%# stepバー ------------------ %>
  <%= render 'trips/step_bar' %>

  <%# フォーム & ボタン ------------------ %>
  <%= form_with model: @trip, html:{class:"flex flex-col flex-1 min-h-0", data:{"participant-validate-target": "form"}} do |f| %>

    <%# フォームカード %>
    <%= render 'trips/form_card', f: f %>
    <%= render 'participants/form_card', f: f %>

    <%# ボタン類 %>
    <section class="flex px-4 py-4 ">
      <%# step1時のボタン %>
      <%= link_to "キャンセル", trips_path, data:{"trip-validate-target": "toggleBtn"}, class:"w-1/2 mx-6 py-2 btn-cancel shadow-primary" %>
      <button data-trip-validate-target="toggleBtn" data-action="click->trip-validate#changeForm" type="button" class="w-1/2 mx-6 py-2  btn-submit shadow-primary">次へ</button>
      <%# step2時のボタン %>
      <button data-trip-validate-target="toggleBtn" data-action="click->trip-validate#changeForm" type="button" class="hidden w-1/2 mx-6 py-2 btn-cancel shadow-primary">戻る</button>
      <%= f.submit "保存",data: {"trip-validate-target" => "toggleBtn", "participant-validate-target" => "submitBtn", action: "click->participant-validate#submit"}, class: "hidden w-1/2 mx-6 py-2 btn-submit shadow-primary" %>
    </section>
  <% end %>
</div>
