<% content_for(:title, t('pages.trips.new.title')) %>

<div data-controller="trip-validate participant-validate group-select" data-trip-validate-mode-value="new" class="flex flex-col h-full">

  <%# stimulus用フラッシュエラーメッセージ ------------------ %>
  <%= render 'layouts/flash_message/error_for_stimulus' %>
  
  <%# ページ案内 ------------------ %>
  <h1 class="mt-2 my-2 text-xl font-bold text-center"><%= t('pages.trips.new.title') %></h1>

  <%# stepバー ------------------ %>
  <%= render 'trips/step_bar' %>

  <%# フォーム & ボタン ------------------ %>
  <%= form_with model: @trip, html:{class:"flex flex-col flex-1 min-h-0", data:{"participant-validate-target": "form"}} do |f| %>

    <%# フォームカード %>
    <%= render 'trips/form_card', f: f %>
    <%= render 'participants/form_card', f: f %>

    <%# ボタン類 %>
    <section class="px-4 my-3">
      <div class="separator"></div>
      <div class="w-full flex gap-4">
        <%# step1時のボタン %>
        <%= link_to t('pages.common.back'), trips_path, data:{"trip-validate-target": "toggleBtn"}, class:"w-1/4 main-action-btn bg-gray-400 text-white dark:bg-neutral-600" %>
        <button data-trip-validate-target="toggleBtn" data-action="click->trip-validate#changeForm click->group-select#selectGroup" type="button" class="flex-1 main-action-btn bg-primary-blue-100 text-white"><%= t('pages.common.next') %></button>
        <%# step2時のボタン %>
        <button data-trip-validate-target="toggleBtn" data-action="click->trip-validate#changeForm" type="button" class="!hidden w-1/4 main-action-btn bg-gray-400 text-white dark:bg-neutral-600"><%= t('pages.common.back') %></button>
        <%= f.submit t('pages.common.save'),data: {"trip-validate-target" => "toggleBtn", "participant-validate-target" => "submitBtn", action: "click->participant-validate#submit"}, class: "!hidden flex-1 main-action-btn bg-primary-blue-100 text-white" %>
      </div>
    </section>
  <% end %>
</div>
