  <h1 class="mt-2 my-2 text-xl font-bold mx-6">旅行詳細</h1>
  <%= render 'trips/trip_card', trip: @trip, mode: :show %>
  <div class="card-style px-4 py-3">
    <div class="px-2 font-bold">参加者</div>
    <ul class="list-disc px-8 pt-2">
      <% @participants.each do |participant|%>
      <li><%= participant.name %></li>
      <% end %>
    </ul>
  </div>

  <h1 class="mx-8 my-2 text-xl font-bold">立替一覧</h1>

  <% if @expenses.present? %>
    <div class="flex-1 overflow-y-auto flex flex-col">
        <% @expenses.each do |expense|%>
          <%= link_to trip_expense_path(@trip, expense) do %>
            <%= render 'expenses/expense_card', expense: expense %>
          <% end %>
        <% end %>
    </div>
  <% else %>
    <div class="flex-1 overflow-y-auto flex flex-col">
      <%= inline_svg("svg/no-payment.svg", class:"w-3/5 my-auto mx-auto", draggable:"false") %>
    </div>

  <% end %>




  <div class="px-4 py-3">
    <div class="h-1 bg-panel-navy"></div>

    <section class="w-full flex">
      <%= link_to new_trip_expense_path(@trip) , class:"flex-1" do %>
        <div class="mt-2 rounded-md bg-action-yellow py-3 shadow-primary border-2 border-black">
          <p class="text-gray-700 text-2xl text-center font-bold">立替記録を作成</p>
        </div>
      <% end %>

      <% if @expenses.present?%>
        <%= link_to result_trip_path(@trip), class:"w-2/5" do %>
          <div class=" mt-2 rounded-md bg-primary-red py-3 shadow-primary border-2 border-black">
            <p class="text-white text-2xl text-center font-bold">精算結果</p>
          </div>
        <% end %>    
      <% end %>
      <div>

      </div>
    </section>

  </div>