<% content_for(:title, t('pages.trips.show.title')) %>

<%= render 'layouts/modal/trips/share_description' %>
<%= render 'layouts/modal/trips/destroy' %>

<%# ページ案内 ------------------------------------ %>
<section class="flex items-center relative">
  <button class="absolute flex items-center rounded-md shadow-primary h-6 w-10 py-0.5 px-0.5 ml-4 text-white bg-panel-navy dark:text-neutral-700 dark:bg-white" data-controller="back" data-action="click->back#goBackFromTrip">
    <%= inline_svg("svg/navigation-arrow.svg", class:"w-full h-full rotate-180")%>
  </button>
  <h1 class="mt-2 my-2 text-xl font-bold w-full text-center"><%= t('pages.trips.show.title') %></h1>
</section>

<%# メインコンテンツ ------------------------------------ %>
<section class="w-full flex-1 min-h-0 overflow-y-auto">
  <div class="mx-4">

    <%# 旅行カード ------------------ %>
    <%= render 'trips/trip_card', trip: @trip, mode: :show %>

    <%# 共有&グラフページボタン ------- %>
    <div class="w-full my-4 flex gap-4" data-controller="copy-trip-token" data-copy-trip-token-notice-value="<%= t('stimulus.copy_trip_token.notice')%>">
      
      <div class="flex flex-1 card-style h-10 items-center justify-between px-2">
        <%# 共有リンク %>
        <button class="py-0.5 bg-neutral-400 hover:bg-panel-navy active:bg-panel-navy rounded-l-md text-sm text-white px-1"
                data-action="click->copy-trip-token#copyToken">COPY</button>
        <input class="py-0.5 text-sm flex-1 bg-neutral-100 rounded-r-md px-2 dark:text-white dark:bg-neutral-700" data-copy-trip-token-target="tokenInput" id="share_link" value= "<%= share_trip_url(@trip.share_token) %>" readonly>
        <%# 共有機能info %>
        <button type="button" class="h-6 ml-1 cursor-pointer" data-action="click->modal#openModal" data-modal-name-param="description">
          <%= inline_svg("svg/info.svg", class:"h-full") %>
        </button>
      </div>

      <%# グラフページボタン %>
      <div class="gap-2 w-1/5 card-style h-10 cursor-pointer">
        <%= link_to insights_trip_path(@trip),  class:"flex h-full w-full items-center justify-center" do %>
          <%= inline_svg("svg/graph.svg", class:"h-6") %>
        <% end %>
      </div>

    </div>

    <%# 参加者カード ----------------- %>
    <div class="mt-2 flex flex-col card-style" data-controller="accordion">
      <div class="flex justify-between py-2 cursor-pointer" data-accordion-target="bar" data-action="click->accordion#toggle">
        <p class="mx-4 font-bold"><%= t('activerecord.models.participant')%></p>
        <%= inline_svg("svg/accordion.svg", class:"w-6 mx-6 transition-transform transform duration-200 text-gray-500", data:{"accordion-target": "icon"}) %>
      </div>  
      <ul class="list-disc text-sm px-8 cursor-pointer h-0 transition-all duration-150 overflow-hidden" data-accordion-target="participantsEl" data-action="click->accordion#toggle">
        <% @trip.participants.each do |participant|%>
        <li class="pb-2"><%= participant.name %></li>
        <% end %>
      </ul>
    </div>

    <%# 立替カード一覧 ------------------ %>
    <div class="flex-1 flex flex-col pb-2">
      <% if @expenses.present? %>
      <%# 立替あれば表示 %>
        <% @expenses.group_by{|expense| expense.payment_date}.each do |date, expense|%>
          <div class="mt-2 font-bold px-2"><%= date.strftime("%m/%d") %></div>
            <div class="flex flex-col gap-4">
              <% expense.each do |e| %>
                  <%= link_to trip_expense_path(@trip, e) do %>
                    <%= render 'expenses/expense_card', expense: e %>
                  <% end %>
              <% end %>
            </div>
        <% end %>
      <% else %> 
      <%# なければ案内表示 %>
        <div class="flex-1 flex flex-col items-center mt-10 text-center text-neutral-400">
          <%= inline_svg('svg/payment.svg', class:"w-50 py-4")%>
          <p class="text-2xl font-bold"><%= t('pages.trips.show.no_expense') %>
            <br>
          <%= t('pages.trips.show.lets_create') %></p>
          <%= inline_svg('svg/navigation-arrow2.svg', class:"w-20 mt-2 animate-bounce")%>
        </div>
      <% end %>
    </div>

  </div>
</section>

<%# 仕切り線とボタン ------------------ %>
<section class="px-4 my-3">
  <div class="separator"></div>
  <div class="w-full flex gap-4">
    <%= link_to t('pages.trips.show.create_expense_button'), new_trip_expense_path(@trip) , class:"flex-1 main-action-btn bg-action-yellow text-neutral-700" %>
    <% if @expenses.present?%>
      <%= link_to t('pages.trips.show.result_button'), result_trip_path(@trip), class:"w-1/3 main-action-btn bg-primary-red text-white" %>  
    <% end %>
  </div>
</section>

