<% content_for(:title, "旅行詳細") %>

<%# ページ案内 ------------------ %>
<section class="flex items-center relative">
  <%= link_to trips_path(@trips), class:"absolute flex items-center rounded-md bg-panel-navy shadow-secondary h-6 w-10 py-0.5 px-0.5 ml-4" do %>
    <%= inline_svg("svg/navigation-arrow.svg", class:"w-full h-full rotate-180 text-white")%>
  <% end %>
  <h1 class="mt-2 my-2 text-xl font-bold w-full text-center">旅行詳細</h1>
</section>

<div class=" flex-1 overflow-y-auto">
  <%# 旅行カード ------------------ %>
  <section>
    <%= render 'trips/trip_card', trip: @trip, mode: :show %>
  </section>

  <%# サブ案内 ------------------ %>
  <p class="mx-6 mt-2 font-bold">参加者</p>

  <%# 参加者カード ------------------ %>
  <section class="py-2 flex flex-col card-style mx-4 px-4">
    <ul class="list-disc px-8 text-sm">
      <% @participants.each do |participant|%>
      <li><%= participant.name %></li>
      <% end %>
    </ul>
  </section>

  <%# サブ案内 ------------------ %>
  <p class="mx-6 mt-2 font-bold">立替一覧</p>

  <%# 立替カード一覧 ------------------ %>
  <section class="flex-1 flex flex-col">

    <% if @expenses.present? %>
    <%# 立替あれば表示 %>
      <% @expenses.each do |expense|%>
        <%= link_to trip_expense_path(@trip, expense), class:"mb-4" do %>
          <%= render 'expenses/expense_card', expense: expense %>
        <% end %>
      <% end %>

    <% else %> 
    <%# なければ画像表示 %>
      <%= inline_svg("svg/no-payment.svg", class:"w-3/5 my-auto mx-auto", draggable:"false") %>
    <% end %>

  </section>
</div>

<%# 仕切り線とボタン ------------------ %>
<div class="px-4 py-3">
  <div class="h-1 bg-gray-400 rounded-full"></div>
  <div class="w-full flex">
    <%= link_to new_trip_expense_path(@trip) , class:"flex-1 mt-2 rounded-md bg-action-yellow py-2 shadow-primary" do %>
      <p class="text-gray-700 text-2xl text-center font-bold">立替記録を作成</p>
    <% end %>
    <% if @expenses.present?%>
      <%= link_to result_trip_path(@trip), class:"w-1/3 ml-4 mt-2 rounded-md bg-primary-red py-2 shadow-primary" do %>
        <p class="text-white text-2xl text-center font-bold">精算結果</p>
      <% end %>    
    <% end %>
  </div>
</div>