<%# 最初はhidden、表示時はflex %>
<div class="hidden flex flex-col flex-1 min-h-0 overflow-y-auto mt-2" data-trip-validate-target="participantForm">
  <div class="flex items-center mx-8 mb-1">
    <h2 class="font-bold"><%= t('activerecord.models.participant') %></h2>
  </div>

  <div class="card-style border border-transparent mx-4 flex flex-1 flex-col px-4 py-2" data-participant-validate-target="participantCard">
    <div class="font-bold"><%= t('activerecord.attributes.participant.name') %></div>
    <div class="flex flex-col pb-2 text-[12px]">
      <span><%= t('pages.participants.form_card.no_editable') %></span>
      <span><%= t('pages.participants.form_card.limit') %></span>
      <span><%= t('pages.participants.form_card.name_length') %></span>
    </div>
    <span data-participant-validate-target="duplicatedErrorMessage" class="text-primary-red text-xs"></span>
    <% @trip.participants.each_with_index do |participant, i| %>
      <%= f.fields_for :participants, participant do |p| %>
        <div data-participant-validate-target="eachTemplate">
          <div class="flex items-center py-2">
            <span class="font-bold w-6 flex justify-center mr-1"><%= i + 1 %></span>
            <%= p.text_field :name, id:"participant_name_#{i}", class:"form-style mr-2", 
            data:{"participant-validate-target": "name", "action": "input->participant-validate#checkInput keydown->participant-validate#submitPrevent",
                  "group-select-target": "result"} %>
          </div>
          <span class="text-primary-red text-xs pt-0.5" data-participant-validate-target="nameErrorMessage"></span>
        </div>
      <% end %>
    <% end %>
  </div>
</div>