<% content_for(:title, t('pages.groups.index.title')) %>

<%= render 'layouts/modal/groups/group_description' %>

<%# ページ案内 ------------------ %>
<section class="flex items-center relative">
  <%= link_to trips_path(@trips), class:"absolute flex items-center rounded-md shadow-primary h-6 w-10 py-0.5 px-0.5 ml-4 text-white bg-panel-navy dark:text-neutral-700 dark:bg-white" do %>
    <%= inline_svg("svg/navigation-arrow.svg", class:"w-full h-full rotate-180 ")%>
  <% end %>
  <h1 class="mt-2 my-2 text-xl font-bold w-full text-center"><%= t('pages.groups.index.title') %></h1>
    <button type="button" class="absolute right-0 mr-6 h-7 cursor-pointer" data-modal-target="openBtn" data-action="click->modal#openModal" data-modal-name-param="description">
      <%= inline_svg("svg/info.svg", class:"h-full") %>
    </button>
</section>

<%# メインコンテンツ ------------------------------------ %>
<section class="w-full flex-1 min-h-0 overflow-y-auto">
  <%# グループカード ------------------ %>
  <div class="flex-1 flex flex-col gap-4 mx-4 mb-4">
    <% if @groups.present? %>
      <% @groups.each do |group| %>
          <div class="card-style shadow-primary">
            <%= link_to group_path(group), class:"w-full h-full flex gap-4 px-4 py-2 items-center justify-between cursor-pointer" do %>
              <div class="flex items-center gap-2">
                <img src="/images/group-icon.jpg" alt="" class="rounded-full w-10">
                <p class="font-bold"><%= group.name %></p>
              </div>
              <%= inline_svg("svg/navigation-arrow.svg", class:"h-5 w-5 text-black text-right dark:text-neutral-500") %>
            <% end %>
          </div>
      <% end %>
    <% else %>
      <%# なければ案内表示 %>
      <div class="flex-1 flex flex-col items-center mt-20 text-center text-neutral-400">
        <%= inline_svg('svg/group2.svg', class:"w-50 py-4")%>
        <p class="text-2xl font-bold"><%= t('pages.groups.index.no_group') %>
          <br>
        <%= t('pages.groups.index.lets_create') %></p>
        <%= inline_svg('svg/navigation-arrow2.svg', class:"w-20 mt-2 animate-bounce")%>
      </div>
    <% end %>
  </div>
</section>

<%# 仕切り線とボタン ------------------ %>
<section class="mx-4 my-3">
  <div class="separator"></div>
  <%= link_to t('pages.groups.index.create_group'), new_group_path, class:"w-full main-action-btn text-neutral-700 bg-action-yellow" %>
</section>





