<% content_for(:title, "TOP") %>

<div class="page-width w-full mx-auto flex flex-col h-[100dvh] bg-gray-50 dark:bg-neutral-900" data-controller="lp-animation">
  
  <header class="h-5/80 relative flex items-center no-interact" draggable="false">
    <%= inline_svg("svg/lp/header-bg.svg", class:"w-full text-panel-navy dark:text-neutral-800") %>
    <div class="absolute top-0 h-12 flex items-center" data-lp-animation-target="fadeInDown">
      <%= inline_svg("svg/app-icon/header-icon.svg", class:"w-5 ml-2 pb-1 text-theme-brown") %>
      <div class="font-for-icon ml-2 text-sm leading-none tracking-widest">
        <span class="text-theme-brown">TRIP</span>
        <br><span class="text-white">PAYZIES</span>
      </div>
    </div>
  </header>

  <%# ロゴどん %>
  <section class="flex-1 flex justify-center items-center no-interact opacity-0" draggable="false" data-lp-animation-target="expand">
    <%= inline_svg("svg/app-icon/lp-icon.svg", class: "h-18 text-panel-navy dark:text-white") %>
    <h1 class="text-white pt-2">
      <span class="text-theme-brown font-for-icon text-4xl">TRIP</span>
      <br><span class="text-panel-navy dark:text-white font-for-icon text-4xl">PAYZIES</span>
    </h1>
  </section>

  <%# キャッチコピー %>
  <section class="h-11/80 flex justify-center items-center opacity-0" data-lp-animation-target="catchCopy">
    <h2 class="flex flex-col text-right dark:text-white text-xl font-bold text-neutral-600">
      <div class="my-2"><%= t('pages.home.index.record_expenses')%><span class="text-theme-brown text-2xl font-bold inline-block" data-lp-animation-target="shakable"><%= t('pages.home.index.snap')%></span><%= t('pages.home.index.record')%></div>
      <div class="my-2"><%= t('pages.home.index.settle_expenses')%><span class="text-theme-brown text-2xl font-bold inline-block" data-lp-animation-target="shakable"><%= t('pages.home.index.snap')%></span><%= t('pages.home.index.solve')%></div>
    </h2>
  </section>

  <%# gyazo? %>
  <section class="h-18/80 flex flex-col justify-center opacity-0 mx-4" data-lp-animation-target="expand">
    <div class="swiper w-full" data-controller="swiper">
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><%= image_tag "lp/card1.png", class:"h-full mx-auto" %></div>
        <div class="swiper-slide"><%= image_tag "lp/card2.png", class:"h-full mx-auto" %></div>
        <div class="swiper-slide"><%= image_tag "lp/card3.png", class:"h-full mx-auto" %></div>
        <div class="swiper-slide"><%= image_tag "lp/card4.png", class:"h-full mx-auto" %></div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </section>

  <%# 説明 %>
  <section class="flex-1 pl-4 flex justify-center items-center">
    <ol class="list-decimal space-y-3 dark:text-white tracking-tighter sm:tracking-tight font-bold text-neutral-500" data-lp-animation-target="fadeIn">
      <li class="opacity-0"><%= t('pages.home.index.start_with_members')%></li>
      <li class="opacity-0"><%= t('pages.home.index.easy_entry')%></li>
      <li class="opacity-0"><%= t('pages.home.index.check_graph')%></li>
      <li class="opacity-0"><%= t('pages.home.index.auto_calculate')%></li>
    </ol>
  </section>

  <%# Startボタン %>
  <section class="h-6/80 flex justify-center items-center no-interact opacity-0 pointer-events-none" draggable="false" data-lp-animation-target="fadeInUpLate">
      <%= link_to new_user_session_path, class: "h-fit px-10 py-1 text-2xl text-white bg-theme-brown tracking-widest cursor-pointer flex items-center rounded shadow-for-lp" do %>
        Start!<%= inline_svg("svg/plane.svg", alt:"飛行機アイコン", class:"w-7 ml-4 align-middle inline")%>
      <% end %>
  </section>

  <footer class="h-7/80 flex relative no-interact" draggable="false">
      <%= inline_svg("svg/lp/footer-bg.svg", class:"w-full text-neutral-600 dark:text-neutral-700") %>
      <span class="absolute bottom-0 mb-2 text-white text-xs w-full text-center">Copyright © 2025 Trip Payzies by nonin.</span>
  </footer>
</div>
