<% content_for(:title, "トップ") %>

<div class="xl:w-1/3 md:w-1/2 w-full mx-auto flex flex-col h-screen bg-gray-50">

  <header class="h-6/80 relative flex items-center no-interact" draggable="false">
    <%= inline_svg("svg/lp/header-bg.svg", class:"w-full") %>
    <div class="absolute top-0 h-15 flex items-center">
      <%= inline_svg("svg/app-icon/header-icon.svg", class:"w-6 ml-2 pb-1") %>
      <div class="font-for-icon ml-2 leading-none tracking-widest">
        <span class="text-theme-brown">TRIP</span>
        <br><span class="text-white">PAYZIES</span>
      </div>
    </div>
  </header>

  <%# ロゴ大 %>
  <section class="flex-1 flex justify-center items-center no-interact" draggable="false">
    <%= inline_svg("svg/app-icon/lp-icon.svg", class: "h-22") %>
    <h1 class="text-white pt-2">
      <span class="text-theme-brown font-for-icon text-5xl">TRIP</span>
      <br><span class="text-panel-navy font-for-icon text-5xl">PAYZIES</span>
    </h1>
  </section>

  <%# キャッチコピー %>
  <section class="h-11/80 flex justify-center items-center">
    <h2 class="flex flex-col text-right text-xl">
      <div class="my-2">グループ旅行の立替を<span class="text-theme-brown text-2xl font-bold">さくっ</span>と記録</div>
      <div class="my-2">面倒な精算も<span class="text-theme-brown text-2xl font-bold">さくっ</span>と解決</div>
    </h2>
  </section>

  <%# gyazo? %>
  <section class="h-18/80 flex flex-col justify-center">
    <div class="h-4/5 mx-4 rounded-md bg-gray-200 flex items-center justify-center">
      <span class="font-mono text-gray-600">///// 準備中 /////</span>
    </div>
  </section>

  <%# 説明 %>
  <section class="flex-1 pl-4 flex justify-center items-center">
    <ol class="list-decimal space-y-3">
      <li>旅行メンバーを入力してスタート!</li>
      <li>"誰が・誰の分を・いくら" かんたん入力</li>
      <li>グラフで立替状況をひとめいでチェック</li>
      <li>最後に、誰が誰にいくら払うかを自動で計算!</li>
    </ol>
  </section>

  <%# Startボタン %>
  <section class="h-7/80 flex justify-center items-center no-interact" draggable="false">
      <%= link_to new_user_session_path, class: "h-fit px-10 py-1 text-3xl text-white bg-theme-brown tracking-widest cursor-pointer flex items-center rounded shadow-primary" do %>
        Start!<%= inline_svg("svg/plane.svg", alt:"飛行機アイコン", class:"w-8 ml-4 align-middle inline")%>
      <% end %>
  </section>

  <footer class="h-7/80 flex relative no-interact" draggable="false">
      <%= inline_svg("svg/lp/footer-bg.svg", class:"w-full") %>
      <span class="absolute bottom-0 mb-2 text-white text-sm w-full text-center">©︎ 2025 Trip Payzies by NONIN</span>
  </footer>
</div>
