<% content_for(:title, t('pages.devise.session.new.login')) %>

<%# ページ案内 ------------------ %>
<h1 class="text-center text-xl my-4 font-bold"><%= t('pages.devise.session.new.login') %></h1>
<div class=" card-style mx-4 px-10 pt-5">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="field w-full mb-4">
      <%= f.label :email, t('activerecord.attributes.user.email'), class: "devise-form-label"%>
      <%= f.email_field :email, placeholder: "メールアドレスを入力してください", autocomplete: "email", class: "form-style text-sm" %>
    </div>
    <div class="field w-full mb-4">
      <%= f.label :password, t('activerecord.attributes.user.password'), class: "devise-form-label"%>
      <%= f.password_field :password, placeholder: "パスワードを入力してください", autocomplete: "current-password", class: "form-style text-sm" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, "ログイン情報を記憶する" %>
      </div>
    <% end %>

    <div class="actions my-3">
      <%= f.submit "ログイン", class: "btn block mx-auto shadow-primary"%>
    </div>
  <% end %>

  <%# <div class="text-center pb-6 pt-4"> %>
  <%#  <%= link_to "パスワードをお忘れですか？", new_password_path(resource_name), class: "underline text-gray-700" %>
  <%# </div> %>

</div>

<div class="text-center pt-5">
  <%= link_to "はじめての方はこちら", new_registration_path(resource_name), class: "text-primary-blue-100 underline hover:text-primary-blue-200"%>
</div>  