<div class="absolute hidden w-full h-full" data-modal-target="descriptionModal">
  <div class="absolute w-full h-full z-40 bg-black opacity-0 backdrop-blur-sm transition-opacity duration-300 ease-in-out" data-modal-target="descriptionModalBg" data-action="click->modal#closeModal" data-modal-name-param="description"></div>

  <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-3/4 h-1/2 z-50 opacity-0 scale-80 transition-all duration-300 ease-in-out" data-modal-target="descriptionModalContent">

    <div class="w-full card-style flex flex-col py-6 px-2">
      <h2 class="w-full text-xl font-bold mb-4 text-gray-900 dark:text-white flex justify-center"><%= t('modal.groups.help.title')%></h2>

      <!-- 説明文 -->
      <p class="mx-3 text-sm text-gray-700 dark:text-gray-200 mb-2">
        <%= t('modal.groups.help.description_1')%><br>
        <%= t('modal.groups.help.description_2')%>
      </p>

      <!-- 注意喚起 -->
      <p class=" text-yellow-800 dark:text-yellow-300 text-sm bg-yellow-100 dark:bg-yellow-900 p-2 rounded-md mb-4 text-center">
        <%= t('modal.groups.help.description_3')%><br><%= t('modal.groups.help.description_4')%>
      </p>

<!-- ボタン -->
      <button class="w-2/5 h-10 bg-neutral-600 cursor-pointer font-bold text-white rounded-md shadow-primary mx-auto" type="button" data-action="click->modal#closeModal" data-modal-name-param="description"><%=t('common.close')%></button>
    </div>
  </div>
</div>