<%= form_with model: [@trip, @expense], local: true, html: {class:"flex flex-col flex-1 min-h-0", data:{"expense-validate-target": "form"}} do |e| %>
  <%# カード1 %>
  <div class="relative mb-4 card-style">
    <div class="absolute top-0 left-0 h-full w-2 bg-panel-navy rounded-l"></div>

    <div class="flex flex-col w-full py-3 px-4">
        <%# 決済者 %>
        <section class="mt-2 flex flex-col w-full pr-4">
          <div class="flex items-center">
            <p class="font-bold w-[60px] mr-2 text-right">決済者:</p>
            <%= e.collection_select :payer_id, @trip.participants, :id, :name, { prompt: "参加者から選択してください"}, {class: "flex-1 select-style text-gray-600", data:{"expense-validate-target": "payer", action: "keydown->expense-validate#submitPrevent input->expense-validate#payerValidate"} } %>
          </div>
          <p class="text-red-500 text-xs pb-0.5 ml-[60px] pl-2 h-2" data-expense-validate-target="payerErrorMessage"></p>
        </section>
        <%# 項目 %>
        <section class="mt-2 flex flex-col w-full pr-4">
          <div class="flex items-center">
            <p class="font-bold w-[60px] mr-2 text-right">項目:</p>
            <%= e.text_field :title, placeholder:"例: レンタカー代", class:"flex-1 form-style", data:{"expense-validate-target": "title", action: "keydown->expense-validate#submitPrevent input->expense-validate#titleValidate"} %>
          </div>
          <p class="text-red-500 text-xs pb-0.5 ml-[60px] pl-2 h-2" data-expense-validate-target="titleErrorMessage"></p>
        </section>
        <%# 金額 %>
        <section class="mt-2 flex flex-col w-full pr-4">
          <div class="flex items-center">
            <p class="font-bold w-[60px] mr-2 text-right">金額:</p>
            <%= e.text_field :amount, placeholder:"例: 10000", class:"flex-1 form-style", data:{"expense-validate-target": "amount", action: "keydown->expense-validate#submitPrevent input->expense-validate#amountValidate"}, inputmode:"numeric" %>
            <p class="font-bold px-2">円</p>
          </div>
          <p class="text-red-500 text-xs pb-0.5 ml-[60px] pl-2 h-2" data-expense-validate-target="amountErrorMessage"></p>
        </section>
    </div>
  </div>


  <%# カード2 %>
  <div class="relative mb-4 card-style">
    <div class="flex flex-col w-full py-3 px-4">
      <%# 日付 %>
      <section class="mt-3 flex flex-col w-full pr-4">
        <div class="flex items-center">
          <p class="font-bold w-[60px] mr-2 text-right">日付:</p>
          <%= e.date_field :payment_date, value: Date.current, class:"flex-1 form-style", value: @expense.payment_date || Date.current,  data:{"expense-validate-target": "date", action: "keydown->expense-validate#submitPrevent input->expense-validate#dateValidate"} %>
        </div>
        <p class="text-primary-red text-xs pb-0.5 ml-[60px] pl-2 h-2" data-expense-validate-target="dateErrorMessage"></p>
      </section>
      <%# 場所 %>
      <section class="my-3 flex flex-col w-full pr-4">
        <div class="flex items-center">
          <p class="font-bold w-[60px] mr-2 text-right">場所:</p>
          <%= e.text_field :place, placeholder: "例: 京都,清水寺", class:"flex-1 form-style" %>
        </div>
      </section> 
      <%# メモ %>
      <section class="my-3 flex flex-col w-full pr-4">
        <div class="flex">
          <p class="font-bold w-[60px] mr-2 text-right">メモ:</p>
          <%= e.text_area :memo, class:"flex-1 form-style resize-none" %>
        </div>
      </section> 
    </div>
  </div>

  <%# カード3 %>
  <div class="mb-4 card-style flex flex-col flex-1 overflow-y-auto" data-expense-validate-target="owedEl">
    <div class="flex flex-col w-full py-3 px-4">
      <%#  対象者%>
      <div class="mt-2 flex flex-col w-full pr-4">
        <p class="font-bold w-[60px] text-right">対象者:</p>
        <p class="text-primary-red text-xs pb-2 pl-2 h-2" data-expense-validate-target="owedErrorMessage"></p>
      </div>

      <div class="pt-1 pl-10 pr-4 flex-col w-full" data-controller="expense-checkbox"> 
        <% @trip.participants.each_with_index do |participant, i| %>
          <% if action_name == "edit" %>
            <% is_checked = @owed_participants.include?(participant)%>
          <% end %>
          <div>
            <%= check_box_tag "expense[advance_payments_attributes][#{i}][participant_id]", participant.id, is_checked, id:"participant_#{participant.id}", class:"hidden peer" %>
            <label for="participant_<%= participant.id %>" data-expense-validate-target="checkBox" data-expense-checkbox-target="checkBox" data-action="click->expense-checkbox#checkBtn click->expense-validate#owedValidate" class="flex items-center my-1 hover:bg-gray-100 rounded-md py-1">
              <%= inline_svg("svg/unchecked-box.svg", data:{"expense-checkbox-target": "unChecked"}, class:"#{is_checked ? 'hidden' : ''} h-6 text-gray-500") %>
              <%= inline_svg("svg/checked-box.svg", data:{"expense-checkbox-target": "checked", "expense-validate-target": "checked"}, class:"#{is_checked ? '' : 'hidden'} h-6 text-primary-blue-100") %>
              <span class="text-md pl-2 mr-auto"><%= participant.name %></span>
            </label>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <section class="flex px-4 py-4">
    <div class="w-1/2 mx-6 py-2 btn-cancel shadow-primary">
      <%= link_to "キャンセル", trip_path(@trip), class:"h-full w-full" %>
    </div>
    <div class="w-1/2 mx-6 py-2  btn-submit shadow-primary" >
      <button class="h-full w-full" data-expense-validate-target="submitBtn" data-action="click->expense-validate#submit"><%= action_name == "new" ? "保存" : "更新" %></button>
    </div>
  </section>
<% end %>