<div>
  <h1 class="mx-8 my-2 text-xl font-bold">立替記録一覧</h1>

  <div class="relative card-style py-2">
    <div class="absolute left-0 top-0 h-full w-2 bg-panel-navy rounded-l"></div>
    <div class="pl-6">
      <p class="pt-2 font-bold text-2xl"><%= @expense.title %></p>
      <p class="pt-2 font-bold text-2xl">¥<%= number_with_delimiter(@expense.amount) %></p>
      <p class="pt-8 text-lg">by <%= @expense.payer.name %></p>
    </div>
  </div>

  <div class="card-style my-4 py-2">
    <p class="pl-6 text-lg">決済日： <%= @expense.payment_date.strftime('%Y/%m/%d') %></p>
  </div>

  
  <div class="card-style my-4 py-2 pl-6">
    <ul class=" text-lg">対象者</ul>
    <% @advance_payments.each do |advance_payment|%>
      <li class=""><%= advance_payment.participant.name %></li>
    <% end %>
    <div class="pt-4">
      <p class="text-lg">負担額</p>
      <p class=""><%= number_with_delimiter(@expense.amount / @advance_payments.count) %>円 / 人</p>
    </div>
  </div>
</div>
