  <div class="flex items-center relative">
    <%= link_to trips_path(@trip), class:"absolute flex items-center border-2 border-black rounded-md h-6 w-10 py-0.5 px-0.5 ml-4" do %>
      <%= inline_svg("svg/navigation-arrow.svg", class:"w-full h-full rotate-180 text-panel-navy")%>
    <% end %>
    <h1 class="mt-2 my-2 text-xl font-bold w-full text-center">立替詳細</h1>
  </div>
  <div class="relative card-style py-2">
    <div class="absolute left-0 top-0 h-full w-2 bg-panel-navy rounded-l"></div>
      <div class="pl-6">
        <%# 立替タイトルと削除編集アイコン %>
        <div class="flex items-center justify-between pr-3 py-1">
          <p class="font-bold text-2xl"><%= @expense.title %></p>
          <div class="flex flex-shrink-0 pl-5">
            <%= link_to edit_trip_expense_path(@trip, @expense) do %>
              <%= inline_svg("svg/edit.svg", class: "w-8 h-8 text-gray-400", draggable:"false") %>
            <% end %>
            <%= link_to trip_expense_path(@trip, @expense), data: {turbo_method: :delete, turbo_confirm: "立替記録を削除しますか？"} do %>
              <%= inline_svg("svg/trash.svg", class: "w-8 h-8 text-gray-400", draggable:"false") %>
            <% end %>
          </div>
        </div>

        <p class="pt-2 font-bold text-2xl">¥<%= number_with_delimiter(@expense.amount) %></p>
        <p class="pt-8 text-lg">by <%= @expense.payer.name %></p>
    </div>
  </div>

  <div class="card-style my-4 py-3 px-4 flex items-center">
    <p class="text-lg font-bold">決済日: <%= @expense.payment_date.strftime( '%Y / %m / %d') %></p>
  </div>

  <div class="card-style py-3 pl-4 pr-8">
    <div class="flex py-2 w-full">
      <p class="font-bold"> 場所： </p>
      <p class=""><%= @expense.place %></p>
    </div>
    <div class="flex py-2 w-full">
      <p class="font-bold"> メモ： </p>
      <p class="flex-1 text-sm text-gray-700 font-thin"><%= @expense.memo %></p>
    </div>
  </div>

  <h2 class="mx-8 my-2 text-lg font-bold">対象者 | 負担額</h2>
  <div class="card-style py-2 pl-6 overflow-y-auto">


    <% @owed_participants.each do |owed_participant| %>
      <div class="flex text-lg">
        <li class="#{owed_participant.name.length > 7 ? w-2/3 : w-2/3}"><%= owed_participant.name %></li>


        <div class="flex">
          <div class="w-0.5 mr-5 bg-black"></div>
          <p class=""><%= number_with_delimiter(@expense.amount / @owed_participants.count) %>円</p>
        </div>
      </div>

    <% end %>

  </div>
