<aside class="flex flex-col z-20 absolute top-0 right-0 bg-panel-navy h-screen w-[210px] opacity-0 transition-opacity pointer-events-none duration-300 ease-in-out" data-sidebar-target="sidebar">
  <%# header分の余白%>
  <div class="h-15"></div>

  <div class="flex-1 flex flex-col justify-between px-5 py-2">

    <%# ユーザーネームとアイコン %>
    <div class="flex items-center"> 
      <%= inline_svg("svg/user.svg", class:"h-10 text-white")%>
      <span class="text-white mx-2 text-xl"><%= current_user.name %></span>
    </div>

    <%# 区切り線 %>
    <div class=" h-[2px] bg-white my-2"></div> 

    <div class="flex-1 flex flex-col justify-between">
      <%# 各リンク %>
      <div class="flex flex-col px-2 my-4"> 
        <%= link_to "TOP", authenticated_root_path, class:"text-white text-xl" %>
        <span class="hidden text-white text-xl pt-4">グループ</span>
      </div>
      <%# ログアウト %>
      <%= link_to destroy_user_session_path, class:"flex items-center justify-center cursor-pointer", data: {turbo_method: :delete, turbo_confirm: "ログアウトしますか？"} do %>
        <p class="text-white text-lg mx-1">ログアウト</p>
        <%= inline_svg("svg/logout.svg", class:"h-7 text-white")%>
      <% end %>
    </div>

  </div>

  <%# footer分の余白%>
  <div class="h-10"></div>
</aside>