<aside class="sm:absolute fixed z-20 w-16 top-0 right-0 translate-x-full flex flex-col h-screen transition-transform transform duration-300 ease-in-out" data-sidebar-target="sidebar">
  <%# header分の余白%>
  <div class="h-12"></div>

  <div class="flex-1 flex flex-col justify-center pt-6 bg-panel-navy dark:bg-neutral-900">

    <%# ユーザーネームとアイコン %>
    <%#= link_to authenticated_root_path do %>
      <%= inline_svg("svg/sidebar/user.svg", class:"mx-auto h-10 text-white flex-shrink-0")%>
    <%# end %>

    <%# 区切り線 %>
    <div class=" h-[2px] bg-gray-300 my-4 mx-4"></div>

    <div class="flex-1 flex flex-col gap-6">
      <%= link_to authenticated_root_path do %>
        <%= inline_svg("svg/sidebar/home.svg", class:"mx-auto cursor-pointer h-6 text-white flex-shrink-0")%>
      <% end %>

      <%= link_to groups_path do %>
        <%= inline_svg("svg/sidebar/group.svg", class:"mx-auto h-7 text-white flex-shrink-0")%>
      <% end %>

      <%= link_to authenticated_root_path do %>
        <%= inline_svg("svg/sidebar/map.svg", class:"hidden mx-auto h-6 text-white flex-shrink-0")%>
      <% end %>
    </div>

    <%# ログアウト %>
    <div data-action="click->sidebar#darkModeToggle">
      <%= inline_svg("svg/sidebar/light.svg", class:"block dark:hidden mx-auto h-6 text-white flex-shrink-0 cursor-pointer")%>
      <%= inline_svg("svg/sidebar/dark.svg", class:"hidden dark:block mx-auto h-6 text-white flex-shrink-0 cursor-pointer")%>
    </div>

    <%= link_to authenticated_root_path do %>
      <%= inline_svg("svg/sidebar/info.svg", class:"hidden mx-auto h-6 text-white flex-shrink-0")%>
    <% end %>

    <div class=" h-[2px] bg-gray-300 my-6 mx-4"></div>
    <%= link_to destroy_user_session_path, data:{turbo_method: :delete, turbo_confirm: "ログアウトしますか？"} do %>
      <%= inline_svg("svg/sidebar/logout.svg", class:"flex cursor-pointer mx-auto mb-4 h-7 pl-1 text-white flex-shrink-0")%>
    <% end %>


  </div>
  <%# footer分の余白%>
  <div class="h-8"></div>
</aside>