<!DOCTYPE html>
<html data-controller="sidebar modal" data-sidebar-target="htmlTag">

  <%= render 'layouts/head_scripts' %>

  <body class="w-screen h-screen overflow-x-hidden flex">

    <%# 左背景 %>
    <div id="leftEl" class="z-50 flex-1 bg-[url('/images/background2.png')] dark:bg-none dark:bg-neutral-800 bg-cover min-w-0"></div>

    <% unless controller.controller_name == "homes" %>

      <div class="sm:relative flex flex-col page-width">
        <% if display_menu? %>
          <%= render 'layouts/sidebar' %>
        <%end%>

        <%= render 'layouts/header'%>
        <%= render 'layouts/modal/layouts/logout' %>
        <%= render 'layouts/main'%>
        <%= render 'layouts/footer'%>
      </div>

    <% else %>

      <%# LP画面のみ %>
      <%= yield %> 

    <% end %>

    <%# 右背景 %>
    <div id="rightEl" class="z-50 flex-1 bg-[url('/images/background2.png')] dark:bg-none dark:bg-neutral-800 bg-cover min-w-0"></div>
  </body>

</html>
