<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= content_for?(:title) ? yield(:title) + " | Trip-payzies(トリップペイジーズ)" : "Trip-payzies(トリップペイジーズ)" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= render 'layouts/og_image' %>

    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#102E4A">
    <link rel="icon" href="/images/svg/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%# iconfy[アイコンパック]を導入 %> 
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <%= javascript_importmap_tags %>
  </head>

  
  <body class="w-screen h-screen flex overflow-hidden" data-controller="sidebar">
    <%# 左側背景 %>
    <div id="leftEl" class="z-50 flex-1 bg-[url('/images/background2.png')] bg-cover min-w-0"></div>
    <% unless controller.controller_name == "homes" %>
      <div class="sm:relative flex flex-col page-width">
        <% unless devise_controller? %>
          <%= render 'layouts/sidebar' %>
        <%end%>
        <header class="z-30 h-12 flex justify-between bg-panel-navy">
              <%= render 'layouts/header'%>
        </header>

        <main class="bg-form-gray flex-1 min-h-0 flex flex-col translate-x-0 transition-transform transform duration-300 ease-in-out" data-sidebar-target="mainEl" data-action="click->sidebar#hideSidebar">
          <%# flashメッセージの分岐%>
          <div data-controller="flash" 
               data-flash-target="message" 
               class="-translate-y-full transition-transform transform duration-700">
            <% if notice.present? %>
              <p class="notice z-10 bg-primary-blue-100 text-white text-sm"><%= notice %></p>
            <% elsif alert.present? %>
              <p class="alert z-10 bg-primary-red text-white text-sm"><%= alert %></p>
            <% end %>
          </div>

          <%= yield %>

        </main>

        <footer class="z-30 h-8 flex items-center bg-panel-gray justify-center">
              <%= render 'layouts/footer'%>
        </footer>

      </div>
    <% else %><%# home#indexのみ %>
      <%= yield %> 
    <% end %>
    <%# 右側背景 %>
    <div id="rightEl" class="z-50 flex-1 bg-[url('/images/background2.png')] bg-cover min-w-0"></div>
  </body>


</html>
