<!DOCTYPE html>
<html data-controller="sidebar" data-sidebar-target="htmlTag" class="">
  <head>
    <%= render 'layouts/head_scripts' %>
  </head>

  <% if devise_controller? %>
    <body class="w-screen h-screen overflow-x-hidden flex">
  <% else %>
    <body class="w-screen h-screen overflow-x-hidden flex" >
  <% end %>

    <%# 左側背景 %>
    <div id="leftEl" class="z-50 flex-1 bg-[url('/images/background2.png')] dark:bg-none dark:bg-neutral-800 bg-cover min-w-0"></div>

    <% unless controller.controller_name == "homes" %>
      <div class="sm:relative flex flex-col page-width">
        <% unless devise_controller? %>
          <%= render 'layouts/sidebar' %>
        <%end%>

        <header class="z-30 h-12 flex justify-between bg-panel-navy dark:bg-neutral-900">
          <%= render 'layouts/header'%>
        </header>

        <main class="bg-form-gray dark:bg-neutral-900 dark:text-white flex-1 min-h-0 flex flex-col translate-x-0 transition-transform transform duration-300 ease-in-out" data-sidebar-target="mainEl" data-action="click->sidebar#hideSidebar">
          <%= render 'layouts/flash_message_for_rails' %>
          <%= yield %>
        </main>

        <footer class="z-30 h-8 flex items-center bg-panel-gray dark:bg-neutral-950 justify-center">
              <%= render 'layouts/footer'%>
        </footer>

      </div>
    <% else %><%# home#indexのみ %>
      <%= yield %> 
    <% end %>
    <%# 右側背景 %>
    <div id="rightEl" class="z-50 flex-1 bg-[url('/images/background2.png')] dark:bg-none dark:bg-neutral-800 bg-cover min-w-0"></div>
  </body>


</html>
