<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= content_for?(:title) ? yield(:title) + " | Trip-payzies(トリップペイジーズ)" : "Trip-payzies(トリップペイジーズ)" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png?v=2" type="image/png">
    <link rel="icon" href="/icon.svg?v=2" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%# iconfy[アイコンパック]を導入 %> 
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <%= javascript_include_tag "first", type: "module" %>
    <%= javascript_importmap_tags %>
  </head>

  <% unless controller.controller_name == "homes" %>
    <body class="bg-white">
      <div class="@container relative h-screen flex flex-col page-width">
        <% unless devise_controller? %>
          <%= render 'layouts/sidebar' %>
        <%end%>
        <header class="z-30 h-15 bg-panel-navy flex items-center justify-between border-2 border-black">
              <%= render 'layouts/header'%>
        </header>

        <main class=" bg-form-gray flex-1 min-h-0 flex flex-col border-x-2  border-x-black border-y-form-gray">
          <%# flashメッセージの分岐%>
          <div data-controller="flash" 
               data-flash-target="message" 
               class="-translate-y-full transition-transform transform duration-700">
            <% if notice.present? %>
              <p class="notice z-10 bg-primary-blue-100 text-white text-sm border-b-2 border-b-black"><%= notice %></p>
            <% elsif alert.present? %>
              <p class="alert z-10 bg-primary-red text-white text-sm border-b-2 border-b-black"><%= alert %></p>
            <% end %>
          </div>

          <%= yield %>

        </main>

        <footer class="z-30 h-10 flex items-center justify-center bg-panel-navy border-2 border-black">
              <%= render 'layouts/footer'%>
        </footer>

      </div>
      <% else %><%# home#indexのみ %>
        <body>
          <%= yield %> 
        </body>
      <% end %>
    </body>





</html>
